* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1f1f1f, #2c2c2c);
  color: white;
}

.navbar {
  width: 100%;
  background-color: #002147;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 18px 0;
  font-size: 18px;
  font-weight: bold;
}

.container {
  text-align: center;
  margin-top: 60px;
}

.container h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.container p {
  font-size: 18px;
  margin: 8px 0;
}

.college-img {
  width: 350px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
}
